body, html{
    margin: 0;
    min-height: 100vh;
    background: url(images/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: #83838398;
}

nav{
    display: grid;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin-block-start: 29px;
}

nav li{
    padding-bottom: 1%;
    font-size: auto;
    margin-right: 30px;
    display: inline-block;
    color: white;
}

a {
    font-size: 1em;
    color: #ffffff;
    text-decoration: none;
    font-family: Neutraface;
    font-weight: normal;
    text-transform: uppercase;
}

nav a:hover, nav a:focus{
    border-bottom: 3px solid rgba(219, 65, 65, 0.5);
    font-size: 1.1em;
}

.container{
    display: flex;
}

.left-card, .middle-card, .right-card{
    margin-left: 10%;
    width: 20%;
    margin-top: 5%;
    background-color: black;
    height: 100%;
}

.left-card:hover, .middle-card:hover, .right-card:hover{
    width: 20%;
    margin-left: 10%;
}

.container img{
    width: 100%;
    background-color: white;
}

.container h1{
    color: rgb(199, 199, 199);
    margin-left: 5%;
    font-size: 1.3em;
}

.container h2{
    color: white;
    margin-left: 5%;
    font-size: 1.3em;
}

.container p{
    color: rgba(255, 255, 255, 0.336);
    font-size: 0.8em;
    margin-left: 5%;
}

.container button{
    margin-left: 5%;
    width: 50%;
    height: 30px;
    margin-bottom: 5%;
    background-color: #D26E4B;
}

.break {
    width: 20%;
    height: 1%;
    text-align: center;
    margin-left: 5%;
    border-top: 5px solid rgb(255, 0, 0, 0.5);
}

br{
    display: none;
}

@media screen and (max-width: 800px) {
    .contact{
        padding-top: 7%;
        height: 450px;
        color: rgb(229, 229, 229);
    }

    .container{
        display: block;
        min-height: 100vh;
    }

    .left-card, .middle-card, .right-card{
        margin-left: 25%;
        width: 50%;
        margin-top: 7%;
        background-color: black;
        height: 100%;
    }
    
    br{
        display: grid;
    }
    
    .container button{
        margin-left: 5%;
        width: 90%;
        height: 30px;
        margin-bottom: 5%;
        background-color: #D26E4B;
    }

    .paiementIcon{
        width: 10%;
        margin: 0 45%;
        margin-top: 1%;
    }
    
    .left-card:hover, .middle-card:hover, .right-card:hover{
        margin-left: 25%;
        width: 50%;
        margin-top: 7%;
        background-color: black;
        height: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .container button{
        margin-left: 5%;
        width: 70%;
        height: 30px;
        margin-bottom: 5%;
        background-color: #D26E4B;
    }    
}

@media screen and (min-width: 800px) and (max-width: 1050px) {
    br{
        display: grid;
    }
}

@media screen and (max-width: 500px) {
    .container h1{
        color: rgb(199, 199, 199);
        margin-left: 5%;
        font-size: 1em;
    }
}
